<h1>商品新規登録</h1>
<table>
  <tbody>
    <%= form_with model: @item, url: admin_items_path do |f| %>
      <tr>
        <td>
          <label for="item_image">商品画像</label>
        </td>
        <td>
          <%= f.file_field :image, accept: "image/*", id: "item_image" %>
        </td>
      </tr>
      <tr>
        <td>
          <label for="item_name">商品名</label>
        </td>
        <td>
          <%= f.text_field :name, placeholder: "商品名", id: "item_name" %>
        </td>
      </tr>
      <tr>
        <td>
          <label for="item_introduction">商品説明</label>
        </td>
        <td>
          <%= f.text_area :introduction, placeholder: "ここに説明文を記述します", id: "item_introduction" %>
        <td>
      </tr>
      <tr>
        <td>
          <label for="item_genre_id">ジャンル</label>
        </td>
        <td>
          <%= f.collection_select(:genre_id, @genres, :id, :name, {prompt: "-選択してください-"}) %>
        </td>
      </tr>
      <tr>
        <td>
          <label for="item_price">税抜価格</label>
        </td>
        <td>
          <%= f.text_field :price, placeholder: "1000", id: "item_price" %>円
        </td>
      </tr>
      <tr>
        <td>
          <label for="item_is_active">販売ステータス</label>
        </td>
        <td>
          <%= f.radio_button :is_active, "true", id: "item_is_active" %>販売中
          <%= f.radio_button :is_active, "false", id: "item_is_active" %>販売停止中
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <%= f.submit "新規登録", class: "btn btn-success" %>
        </td>
      </tr>
    <% end %>
    </tbody>
</table>