<h2>管理者ログイン</h2>
<table>
  <tbody>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <tr class="field">
          <td>
            <label for="admin_email">メールアドレス</label>
          </td>
          <td>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", id: "admin_email", placeholder: "sample@example.com" %>
          </td>
        </tr>
        <tr class="field">
          <td>
            <label for="admin_epassword">パスワード</label>
          </td>
          <td>
            <%= f.password_field :password, autocomplete: "current-password", id: "admin_epassword" %>
          </td>
        </tr>
        <tr class="actions">
          <td></td>
          <td>
            <%= f.submit "ログイン" %>
          </td>
        </tr>
      <% end %>
  </tbody>
</table>

<%= render "admin/shared/links" %>
