<div class="container">
  <h5 class="d-inline-block bg-light my-4 px-3"><%= @customer.last_name+@customer.first_name %>さんの会員詳細</h5>
  <div class="row">
    <div class="col-3">
      <p>会員ID</p>
    </div>
    <div class="col-8">
      <%= @customer.id %>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <p>氏名</p>
    </div>
    <div class="col-8">
      <%= @customer.last_name %>　<%= @customer.first_name %>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <p>フリガナ</p>
    </div>
    <div class="col-8">
      <%= @customer.last_name_kana %>　<%= @customer.first_name_kana %>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <p>郵便番号</p>
    </div>
    <div class="col-8">
      <%= @customer.postal_code %>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <p>住所</p>
    </div>
    <div class="col-8">
      <%= @customer.address %>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <p>電話番号</p>
    </div>
    <div class="col-8">
      <%= @customer.telephone_number %>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <p>メールアドレス</p>
    </div>
    <div class="col-8">
      <%= @customer.email %>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <p>会員ステータス</p>
    </div>
    <div class="col-8">
      <div class="<%= @customer.is_deleted ? "text-secondary" : "text-success" %>"><%= @customer.is_deleted ? "退会" : "有効" %></div>
    </div>
  </div>
  <div class="row">
    <div class=" col-8 offset-3">
      <%= link_to '編集する', edit_admin_customer_path(@customer.id), class: "btn btn-success mr-5" %>
      <%= link_to '注文履歴一覧を見る', admin_top_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>