<div class="container">
  <div class="row">
    <%= render "sidebar", genres: @genres %>
    <div class="col-sm-9">
      <div class="row mt-5 mb-2" style="padding-left:15px;">
        <h3><strong><%= @genre.name %>一覧</strong></h3><span class="pt-sm-2">(全<%= @genre.items.count %>件)</span>
      </div>
      <%= render "public/items/list", item: @genre.items %>
      <div class="text-center"><%= paginate @item %></div>
    </div>
  </div>
</div>