<div class="container">
  <h5 class="d-inline-block bg-light my-4 px-3">注文情報入力</h5>
  <%= form_with model: @order, url: orders_comfirm_path do |f| %>
    <div class="row">
      <strong><%= f.label :payment_method, "支払方法" %></strong>
    </div>
    <div class="row ml-3">
      <div class="col">
        <%= f.radio_button :payment_method, "credit_card" %>
        <%= f.label :payment_method, Order.payment_methods_i18n[:credit_card], for: "order_payment_method_credit_card" %>
        <br>
        <%= f.radio_button :payment_method, "transfer" %>
        <%= f.label :payment_method, Order.payment_methods_i18n[:transfer], for: "order_payment_method_transfer" %>
      </div>
    </div>
    <div class="row">
      <strong><%= f.label :select_address, "お届け先" %></strong>
    </div>
    <div class="row ml-3">
      <div class="col">
        <%= f.radio_button :select_address, "0" %>
        <%= f.label :select_address, "ご自身の住所", for: "select_address_0" %>
        <div class="form-group ml-3">
          〒<%= @customer.postal_code %> <%= @customer.address %><br>
          <%= @customer.last_name+@customer.first_name %>
        </div>
        <%= f.radio_button :select_address, "1" %>
        <%= f.label :select_address, "登録済住所から選択", for: "select_address_1" %>
        <div class="form-group ml-3">
          <%= f.select :address_id, options_from_collection_for_select(current_customer.addresses, :id, :address_display) %>
        </div>
        <%= f.radio_button :select_address, "2" %>
        <%= f.label :select_address, "新しいお届け先", for: "select_address_2" %>
        <div class="form-group row ml-3">
          <%= f.label :postal_code, "郵便番号(ハイフンなし)", class: "col-sm-3 col-form-label" %>
          <%= f.text_field :postal_code, placeholder: "0000000", class: "col-sm-4 px-0" %>
        </div>
        <div class="form-group row ml-3">
          <%= f.label :address, "住所", class: "col-sm-3 col-form-label" %>
          <%= f.text_field :address, placeholder: "東京都渋谷区代々木神園町0-0", class: "col-sm-7 px-0" %>
        </div>
        <div class="form-group row ml-3">
          <%= f.label :name, "宛名", class: "col-sm-3 col-form-label" %>
          <%= f.text_field :name, placeholder: "令和道子", class: "col-sm-4 px-0" %>
        </div>
      </div>
    </div>
    <div class="text-center">
      <%= f.hidden_field :postage, :value => "800" %>
      <%= f.submit "確認画面へ進む", class: "btn btn-primary px-2" %>
    </div>
  <% end %>
</div>